.hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(177, 221, 240);
}
  
header, nav, footer {
    padding: 15px;
}
 
nav li{
    position: absolute;
    left: 1400px;
    top: 20px;
}

header {
    background-color: rgb(218, 232, 252);
    color: antiquewhite;
}

section#evaluacion {
    margin-top: 50px;
    padding: 50px 0;
    background-color: lightgray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.box1 {
    background: rgb(27, 161, 226); 
    font-size: 20px; 
    padding: 10px; 
    border: 1px solid lightgray; 
    margin: 10px;
}

.box {
    background: ghostwhite; 
    font-size: 20px; 
    padding: 10px; 
    border: 1px solid lightgray; 
    margin: 10px;
}

.center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }


.triangle-buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.triangle-buttons__triangle {
    border-style: solid;
    height: 0px;
    width: 0px;
}

.triangle-buttons__triangle--r {
    align-items: center;
    border-color: transparent transparent transparent blue;
    border-width: 0.5rem 0 0.5rem 0.5rem;
}

footer div p {
    text-align:center;
    color: #333;
    font-size: 14px;
    bottom: 0%;
    margin: 0px;
  }