body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#0059b3;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header {
    background-color: #08178b;
    color: white;
    padding: 10px 0;
  }
  
  header h1 {
    margin: 0;
    font-size: 32px;
    font-weight: normal;
    color: rgb(25, 9, 201);
    -webkit-text-stroke: 1.3px chocolate;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }


  
  nav ul li {
    margin: 0 5px;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #222222;
  }
  
  section#registro {
    margin-top: 50px;
    padding: 50px 0;
    background-color: #bcdcfd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  section#registro h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: #3D3D3D;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #3D3D3D;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #3D3D3D;
  }
  
  button[type="submit"] {
    background-color: #3D3D3D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #222222;
  }