<header class="d-flex justify-content-center py-3">
  <!-- Nav tabs -->
  <div class="a">
    <h1><p>Administrador Académico</p></h1>
  </div>
  <div class="col-md-9 col-sm-9 col-9 text-end">
  <div class="menu_icon" [class.menu_icon_Class]="menu_icon_variable" (click)="openMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="menu" [class.menuClass]="menuVariable">
    <ul>
      <li class="nav-item">
        <a class="nav-link active m" routerLink="/index" routerLinkActive="active">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/registrarse" [hidden]="messagesService.messages[0]" routerLinkActive="active">Registrarse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/login" [hidden]="messagesService.messages[0]" routerLinkActive="active">Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" routerLink="/notas" [hidden]="!messagesService.messages[0]" routerLinkActive="active">Notas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/noticias" [hidden]="!messagesService.messages[0]" routerLinkActive="active">Noticias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/reuniones" [hidden]="!messagesService.messages[0]" routerLinkActive="active">Reuniones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/materiales" [hidden]="!messagesService.messages[0]" routerLinkActive="active">Materiales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/clases" [hidden]="!messagesService.messages[0]" routerLinkActive="active">Clases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/anotaciones" [hidden]="!messagesService.messages[0]" routerLinkActive="active">Anotaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/evaluaciones" [hidden]="!messagesService.messages[0]"  routerLinkActive="active">Evaluaciones </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#" onclick="window.location.reload()" [hidden]="!messagesService.messages[0]"  >Salir </a>
      </li>
    </ul>
  </div>
  </div>

</header>
<div class="h2c">
  <h2>Organiza tu situación académica online</h2>
</div>

<div class="container">
 
<router-outlet  ></router-outlet>
   
</div>
<br><br><br>
<!-- <footer style=" position: relative; bottom: 0; align-items: center; width: 100%;">
  <div  style="margin-bottom: 3px; text-align: center;">
      <p>Derechos reservados &copy; 2023 Administrador Académico</p>
  </div>
</footer> -->
<footer class="footer" style=" position: relative; align-items: center; width: 100%;">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="https://cdn-icons-png.flaticon.com/512/11247/11247453.png" alt="Logo" class="logo">
    </div>
    <div class="footer-text">
      <p><a href="">Sugerencias y reclamos</a> | Derechos reservados &copy; 2023 Administrador Académico | <a href="">Políticas de privacidad</a> | <a href="">Trabaja con nosotros</a> </p>
    </div>
  </div>
</footer>


