body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(177, 221, 240);;
}
  
header, nav, footer {
    padding: 15px;
}  
 
 
header div h1{
    color:#04488d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: initial;
    background-color: #023260;
    -webkit-text-stroke: 1px chocolate
}

/*navegador*/
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color:#04488d;
    border-width: 20px;
    border-radius: 20px;
  
}
  
nav li{
    position: absolute;
    left: 1400px;
    top: 20px;
}
  
nav ul li a {
    display: block;
    padding: 10px;
    color: #ec8a13;
    text-decoration: none;
}

header {
    background-color: #023263;
    color: antiquewhite;
}

.box1 {
    background: rgb(180, 234, 146); 
    font-size: 20px; 
    padding: 10px; 
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.box {
    background: ghostwhite; 
    font-size: 20px; 
    padding: 10px; 
    border: 1px solid lightgray; 
    margin: 10px;
}

.center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

footer div p {
    text-align:center;
    color: #333;
    font-size: 14px;
    bottom: 0%;
    margin: 0px;
  }